!!!
%html
  %head
    %title Rails4BootstrapDeviseCancan
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-default.navbar-fixed-top
      .container
        = render 'layouts/navigation'
    #main{role: "main"}
      .container
        .content
          .row
            .col-span-12
              = render 'layouts/messages'
              = yield